/* Панель-облачко */
.headerBar {
    position: fixed;
    top: 15px;
    left: 15px;
    right: 15px; /* Задает ширину во весь экран с учетом отступов */
    height: 60px;

    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;

    background: rgba(0, 0, 0, 0.8);
    border: 2px solid lightblue; /* Рамка со всех сторон */
    border-radius: 12px; /* Скругление углов ("облачко") */
    backdrop-filter: blur(10px);

    z-index: 1001;
}

/* Кнопка открытия меню */
.menuButton {
    width: 40px;
    height: 40px;

    border: 2px solid lightblue;
    border-radius: 6px;

    background: rgba(255, 255, 255, 0.05);
    color: white;

    font-size: 20px;
    cursor: pointer;

    transition: 0.15s;
}

/* Наведение на кнопку меню */
.menuButton:hover {
    background: rgba(120, 20, 20, 0.7);
    border-color: orange;
    color: orange;
}

/* Нажатие */
.menuButton:active {
    background: rgba(70, 10, 10, 0.9);
    transform: scale(0.96);
}


/* Фон поверх страницы */
.overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);

    z-index: 1000;
}


/* Карточка меню */
.menuCard {
    width: 350px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    box-sizing: border-box;

    background: rgba(0, 0, 0, 0.8);
    border: 2px solid lightblue;
    border-radius: 8px;

    backdrop-filter: blur(15px);
}


/* Кнопки меню */
.menuCard a {
    padding: 12px;

    color: white;
    text-decoration: none;
    text-align: center;

    background: rgba(255, 255, 255, 0.1);
    border: 2px solid lightblue;
    border-radius: 4px;

    transition: 0.15s;
}


/* Наведение */
.menuCard a:hover {
    background: rgba(120, 20, 20, 0.7);
    border-color: orange;
    color: orange;

    cursor: pointer;
}


/* Нажатие */
.menuCard a:active {
    background: rgba(70, 10, 10, 0.9);
    transform: scale(0.96);
}
