* {
  font-family: Consolas;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url('https://img.goodfon.ru/original/2560x1440/3/6e/wallpaper-4k-ultra-hd-background-mask-neon-silhouette-anonym.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
